.aboutUs{

    width: 90%;
    p{
        text-align: start;
        font-size: 22px;
        span{
            font-weight: bold;
        }
    }


    h2{
        text-align: start;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
    }

    ul{

        li{
            font-size: 18px;
        }
    }

}